.container{
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
}